
<div id="chatbot_wrapper" class="p-2">
    <h3>Food Chatbot</h3>
    <div id="chatbotbox">
        <p id="response">Hello! Please choose your top 3 favorite foods from the following list:</p>
        <div>
            <button class="food_choice">Burrito</button>
            <button class="food_choice">Pizza</button>
            <button class="food_choice">Burger</button>
            <button class="food_choice">Pasta</button>
            <button class="food_choice">Sushi</button>
            <button class="food_choice">Tacos</button>
            <button class="food_choice">Chicken Salad</button>
            <button class="food_choice">Ice Cream</button>
            <button class="food_choice">Steak</button>
            <button class="food_choice">Fried Chicken</button>
            <button class="food_choice">Biriyani</button>
            <button class="food_choice">Rice</button>
            <button class="food_choice">Veggie salad</button>
            <button class="food_choice">Fruit Juice</button>
        </div>
    </div>
    <div id="textbox_area">
        <input type="text" id="chat_message" placeholder="What can I help you with today?" />
        <button id="send_button">Send</button>
    </div>
</div>